.loginPane {
    -fx-background-color: rgba(60, 60, 60, 0.8);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.1, 0, 2);
}

.exitButton {
	-fx-background-radius: 50;
	-fx-background-color: rgba(253, 0, 0, 0.8);
}

.loginButton {
	-fx-background-color: rgba(94, 236, 45, 0.8);
}

.imageRound {
	-fx-background-radius: 50;
	-fx-border-radius: 50;
	-fx-border-color: #ccc;
    -fx-border-width: 2;
}

.studentAnchor {
	-fx-background-color: rgba(60, 60, 60, 0.8);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.1, 0, 2);
}

.icon {
	-fx-cursor: hand;
}

.icon:hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.textArea {
	-fx-text-alignment: center;
}

.newTaskBackGround {
    -fx-background-color: rgba(60, 60, 60, 0.8);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.1, 0, 2);
}

.listView {
	-fx-background-color: rgba(228, 251, 130, 0.8);
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-width: 2;
}

.button-icon {
	-fx-background-color: transparent;
}

.newTask {
	-fx-background-color: rgba(70, 251, 130, 0.8);
}

.vbox {
	-fx-background-color: rgba(228, 251, 130, 0.8);
	-fx-border-color: black;
	-fx-background-color: rgba(228, 251, 130, 0.8);
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-width: 2;
	-fx-padding: 15;
}

.immediate {
	-fx-background-color: rgba(221, 186, 0, 1);
	-fx-border-radius: 20;
	-fx-background-radius: 20;	
	-fx-border-width: 2;
}

.need {
	-fx-background-color: rgba(80, 230, 135, 1);
	-fx-border-radius: 20;
	-fx-background-radius: 20;	
	-fx-border-width: 2;
}

.crucial {
	-fx-background-color: rgba(255, 0, 0, 1);
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-width: 2;
}

.textLabel {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
}

.transparent-listview {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.pending {
	-fx-background-color: rgba(101, 188, 191, 0.8);
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-width: 2;
}

.completed{
	-fx-background-color: rgba(100, 255, 95, 0.8);
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-width: 2;
}
