.loginPane {
    -fx-background-color: rgba(60, 60, 60, 0.8);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.1, 0, 2);
}

.exitButton {
	-fx-background-radius: 50;
	-fx-background-color: rgba(253, 0, 0, 0.8);
}

.loginButton {
	-fx-background-color: rgba(94, 236, 45, 0.8);
}

.imageRound {
	-fx-background-radius: 50;
	-fx-border-radius: 50;
	-fx-border-color: #ccc;
    -fx-border-width: 2;
}

.studentAnchor {
	-fx-background-color: rgba(60, 60, 60, 0.8);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.1, 0, 2);
}

.icon {
	-fx-cursor: hand;
}

.icon:hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.textArea {
	-fx-text-alignment: center;
}

.newTaskBackGround {
    -fx-background-color: rgba(60, 60, 60, 0.8);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.1, 0, 2);
}

.listView {
    -fx-padding: 10px;
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1px 0;
}

.button-icon {
	-fx-background-color: transparent;
}

.newTask {
	-fx-background-color: rgba(70, 251, 130, 0.8);
}

.vbox {
	-fx-background-color: rgba(228, 251, 130, 0.8);
}